<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="top">
	<div id="header-box">

		<div class="header-top">
			<ul>
				<li sec:authorize="isAnonymous()"><a href="/signup">회원가입</a></li>
				<li sec:authorize="isAnonymous()"><a href="/login">로그인</a></li>
				<li sec:authorize="isAuthenticated()" class="user-info"><span
					th:text="${#authentication.principal.name}"></span> <span
					th:text="${#authentication.principal.email}"></span></li>
				<li sec:authorize="isAuthenticated()" class="logout-form">
					<form action="/logout" method="post">
						<input type="hidden"
							th:name="${_csrf != null ? _csrf.parameterName : 'csrf'}"
							th:value="${_csrf != null ? _csrf.token : ''}" />
						<button type="submit">로그아웃</button>
					</form>
				</li>
				<li><a href="/mypage/orders">주문배송</a></li>
				<li><a href="/mypage/questions">고객센터</a></li>
			</ul>
		</div>
	</div>
	<div class="containers">
		<div class="flex a-center">
			<a href="/"><img src="/img/Untitled_removebg_preview.png"
				class="logo" alt="로고"></a>
			<div class="search-container">

				<form th:action="@{/search}" method="get" id="searchForm">
					<select name="searchType" title="검색유형선택">
						<option>통합검색</option>
						<option>도서</option>
						<option>교보문고</option>
						<option>이벤트</option>
					</select> <input type="text" name="query" title="통합검색어 입력"
						placeholder="왜 세계는 10대의 SNS를 금지하나" id="queryInput">
					<button type="button" class="head-btn" id="cameraButton">
						<i class="fa-solid fa-camera-retro"></i>
					</button>
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
			</div>
			<div class="header-middle-right">
				<ul>
					<li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href="/mypage/favorites"><i
							class="fa-regular fa-heart"></i></a></li>
					<li><a href="/mypage/orders"><i class="fa-regular fa-user"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="dropdown">
			<button id="categoryButton">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div id="categoryDropdown" class="dropdown-content">
				<div class="category-container">
					<div class="category-column main-categories">
						<div class="category-box" data-category="novel">소설</div>
						<div class="category-box" data-category="economy">경제/경영</div>
						<div class="category-box" data-category="humanities">인문</div>
						<!-- 추가 대분류 -->
					</div>
					<div class="category-column" id="subCategories">
						<!-- 중분류와 소분류가 여기에 동적으로 로드됩니다 -->
					</div>
				</div>
			</div>
		</div>
		<ul>
			<li><a href="/bookList">도서</a></li>
			<li><a href="/newbookList">신상품</a></li>
			<li><a href="/event">이벤트</a></li>
		</ul>
	</div>
	
	<!-- 모달 창 (fileUploadContainer) -->
	<div id="camera-modal" class="modal">
	    <div id="fileUploadContainer" class="modal-register">
	    	<div display="flex between">
		    	<span class="img-search-text">이미지 검색</span>
		        <span class="close">&times;</span>
	        </div>
	        <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
			<label for="imageFile" class="image-search-button flex j-center">
				<i class="fa-solid fa-camera-retro camera-icon"></i>
				<span>파일 선택</span>
			</label>
	        <img id="imagePreview" alt="Image preview">
	        <br>
	        <button id="confirmButton">검색</button>
	    </div>
	</div>
	
</header>
<!-- 여기까지 헤더 영역 -->

<footer th:fragment="bottom" class="footer">
	<div class="bottom-container">
		<div>
			<h3>회사 정보</h3>
			<ul>
				<li><a href="#">회사 소개</a></li>
				<li><a href="#">채용 정보</a></li>
				<li><a href="#">이용 약관</a></li>
				<li><a href="#">개인정보 처리방침</a></li>
			</ul>
		</div>
		<div>
			<h3>고객 서비스</h3>
			<ul>
				<li><a href="#">자주 묻는 질문</a></li>
				<li><a href="#">배송 정보</a></li>
				<li><a href="#">반품 정책</a></li>
				<li><a href="/mypage/questions">문의하기</a></li>
			</ul>
		</div>
		<div>
			<h3>소셜 미디어</h3>
			<div class="social-icons">
				<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
					class="fab fa-twitter"></i></a> <a href="#"><i
					class="fab fa-instagram"></i></a> <a href="#"><i
					class="fab fa-youtube"></i></a>
			</div>
		</div>
	</div>
	<div class="copyright">&copy; 2024 쇼핑몰 북북. All rights reserved.</div>
	<script src="/js/mainContent/search-img-btn.js"></script>
</footer>
</html>