@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	background-color: #f0f0f0;
}

.content {
	width: 100%;
	margin: 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	width: 100%;
	position: relative;
	grid-gap: 20px;
}

.grid-item {
	background-color: #ffffff;
	border: 1px solid #e9e9e9;
	padding: 20px;
	text-align: center;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	display: block;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: bold;
	background-color: #f7f7f7;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}