@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	width: 100%;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
}
.product-form {
	margin: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border-top: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	text-align: left;
	font-weight: bold;
}

td input, td textarea {
	width: calc(100% - 20px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

td #product-name, td #price, td #product-code, td #short-description {
	width: 300px;
}

td textarea {
	height: 140px;
	resize: vertical;
}

.btn-file {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 0.5px dotted #d9d9d9;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.file-guide {
	color: green;
	font-size: 12px;
}

.btn-write {
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	text-align: left;
	font-weight: bold;
}

td input, td textarea {
	width: calc(100% - 20px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

td #product-name, td #price, td #product-code, td #short-description {
	width: 300px;
}

td textarea {
	height: 140px;
	resize: vertical;
}

.date-input-container {
	display: flex;
	align-items: center;
}

.date-input-container input[type="date"] {
	width: 150px; /* 필요에 따라 너비 조정 */
	margin-right: 8px;
}

.date-input-container span {
	margin: 0 8px;
}

.btn-file {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 0.5px dotted #d9d9d9;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.file-guide {
	color: green;
	font-size: 12px;
}

.btn-write {
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}

button {
	background-color: white;
	color: #333;
	padding: 10px 20px;
	border-radius: 3px;
}
#previewImg {
    display: none; /* 기본적으로 숨김 */
    max-width: 100%; /* 너비를 부모 컨테이너에 맞게 조정 */
    height: auto; /* 자동 높이 조정 */
    border: 1px solid #ddd; /* 이미지 테두리 */
    border-radius: 4px; /* 둥근 모서리 */
    margin-top: 10px; /* 상단 여백 */
}