.selected {
    color: var(--main-orange);
}


.tabs {
	display: flex;
	margin-top: 35px;
	margin-bottom: 20px;
}

.tab {
	background-color: var(--light-grey);
	border: 1px solid var(--grey);
	padding: 10px 20px;
	cursor: pointer;
	flex: 1;
	text-align: center;
}

.active {
	background-color: #fff;
	border-top: 2px solid #000;
	border-bottom: 2px solid #fff;
}

.coupon-summary {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.coupon-summary div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.available-coupons{
	border-right: 1px solid var(--grey);
}

.coupon-summary .count {
    font-size: 24px;
    font-weight: bold;
}

.coupon-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.coupon-filters-all{
	display: block;
	padding: 10px;
}

#all-btn{
	font-size: 20px;
	cursor: pointer;
}

#all-text{
	margin-bottom: 1.5px;
	font-weight: 500;
	margin-right: 5px;
	cursor: pointer;
}

.trash-btn{
	color: var(--dark-grey);
	margin-right: 10px;
}

.delete-button{
	background-color: white;
	color: var(--black);
	border: 1px solid var(--grey);
	cursor: pointer;
	border-radius: 4px;
	padding: 10px 20px;
}

/* 쿠폰 부분 */
.coupon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.coupon {
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
}

.discount {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.trash-button-detail{
	border: none;
    background-color: white;
}

.trash-btn-detail{
	font-size: 22px;
	margin-left: 10px;
	margin-bottom: 2px;
	color: var(--dark-grey);
}

.description {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.dates {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.days-left {
    font-weight: bold;
    color: #ff5722;
    margin-left: 10px;
}

.details {
    margin-top: 20px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}

.details:hover {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .coupon-container {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .coupon-container {
        grid-template-columns: repeat(1, 1fr); /* 1 item per row on very small screens */
    }
}


/* 모달 창 */
.modal-background-register {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.close {
    color: var(--dark-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-register-ui {
	width: 400px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 25px;
	position: relative;
	margin: 10% auto;
}

.info{
	background-color: var(--very-light-grey);
	padding: 10px;
	border-radius: 3px;
	margin: 10px 0 20px 0;
}

.modal-register-ui h2 {
	margin: 0;
	font-size: 24px;
}

.modal-register-ui input {
	width: calc(100% - 20px);
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.modal-register-ui p {
	font-size: 14px;
	line-height: 1.6;
	color: #555;
}

.modal-register-ui button {
	width: 100%;
	padding: 12px;
	background-color: var(--main-orange);
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
}