<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/mypage/sidebar.css">
</head>
<main>
	<div class="flex">
        <th:block  th:insert="~{views/mypage/sidebar}"/>
        <div class="main-content">
            <div class="container-main">
		        <div class="head">
		            <h1>1:1 문의내역</h1>
		            <button class="head-btn">1:1 문의하기</button>
		        </div>
		        <div>
		        	
		        </div>
		    </div>
        </div>
    </div>
</main>
</html>