<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/cart/cart-list.css">
<link rel="stylesheet" href="/css/cart/completion.css">
</head>
<main>
	<div>
		<h1>주문완료</h1>
		<div class="progress-bar">
			<div class="circle">
				<i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
				<div class="label">장바구니</div>
			</div>
			<div class="line"></div>
			<div class="circle">
				<i class="fa-regular fa-credit-card"></i>
				<div class="label">주문/결제</div>
			</div>
			<div class="line"></div>
			<div class="circle active">
				<i class="fa-solid fa-clipboard-check"></i>
				<div class="label">주문완료</div>
			</div>
		</div>
		
		<div class="payment-info">
			<p class="main-text">주문이 완료되었습니다.
			<p>
			<p class="order-number" th:text="|주문번호 : ${merchantUid}|">주문번호 : 2024080192123998</p>

			<div class="button-container">
				<button class="button primary-button">계속 쇼핑하기</button>
				<button class="button secondary-button"
					th:onclick="|window.location.href='/mypage/orders/detail/${merchantUid}';|">주문상세보기</button>
			</div>

			<!-- <table class="left-section">
				<thead>
					<tr>
						<th>제품정보</th>
						<th>수량</th>
						<th>결제금액</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="product-info">
							<img src="/img/book-cover.png" class="book-cover-img">
							<div class="book-info">
								<p>해리포터와 마법사의 돌 1</p>
								<p>J.K 롤링 저 / 강동혁 역</p>
							</div>
						</td>
						<td class="quantity">1개</td>
						<td class="price">17,000원</td>
					</tr>
					<tr>
						<td class="product-info">
							<img src="/img/book-cover.png" class="book-cover-img">
							<div class="book-info">
								<p>해리포터와 마법사의 돌 2</p>
								<p>J.K 롤링 저 / 강동혁 역</p>
							</div>
						</td>
						<td class="quantity">1개</td>
						<td class="price">17,000원</td>
					</tr>
				</tbody>
			</table>

			<div class="summary-container">
				<div class="summary-left">
					<p>총 주문금액</p>
				</div>
				<div class="summary-right">
					<div class="summary-details">
						<p>
							<span>상품금액</span> <span class="amount">36,000원</span>
						</p>
						<p>
							<span>할인금액</span> <span class="amount">-2,000원</span>
						</p>
						<p>
							<span>배송비</span> <span class="amount">3,000원</span>
						</p>
					</div>
					<div class="final-summary">
						<p>
							<span>최종결제금액</span> <span class="final-amount">37,000원</span>
						</p>
					</div>
				</div>
			</div> -->
			
		</div>
	</div>
</main>
</html>