<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin/write.css">
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <script src="/js/admin/sidebar.js"></script>
    <script src="/js/seller/write.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
    <div style="display: flex;">
        <th:block th:insert="~{views/seller/sidebar}" />
        <div class="container">
            <h1>상품 등록</h1>
            <div id="product-form">
                <form action="/seller/inventory/request" method="post">
                    <!-- CSRF 토큰을 포함한 hidden input -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4">기본 정보</th>
                            </tr>
                        </thead>
                        <tbody>
							<tr>
								<th>도서명</th>
								<td>
									<input type="text" id="bookName" name="bookName" placeholder="도서명을 입력해주세요">
								</td>
								<th>고유번호</th>
								<td>
									<input type="text" id="isbn" name="isbn" placeholder="">
								</td>
							</tr>
							<tr>
								<th>상세 정보 url</th>
								<td>
									<input type="text" id="link" name="link" placeholder="">
								</td>
								<th>재고</th>
							    <td>
							        <input type="number" id="stock" name="stock" value="0"> <!-- 기본값 100 설정 -->
							    </td>		
							</tr>
							<tr>
								<th>판매가</th>
								<td>
									<input type="text" id="discount" name="discount" value="0" placeholder="0원">
								</td>
								<th>글쓴이</th>
								<td>
									<input type="text" id="author" name="author">
								</td>
							</tr>
							<tr>
								<th>출간일</th>
								<td>
									<input type="text" id="pubdate" name="pubdate" placeholder="YYYY-MM-DD">
								</td>
								<th>출판사</th>
								<td>
									<input type="text" id="publisher" name="publisher">
								</td>
							</tr>
							<tr>
								<th>도서 상세설명</th>
								<td colspan="3">
									<textarea id="description" name="description"></textarea>
								</td>
							</tr>
							<tr>
                                <th>메인 이미지</th>
                                <td colspan="3">
                                    <div>
                                        <label class="btn-file">
                                            <input type="file" id="bookImgInput"  onchange="fileUpload(this)"
                                                style="display: none;">
                                            <span>+</span>
                                        </label>
                                        <img id="previewImg" /> <!-- 미리보기 이미지를 표시할 <img> 태그 -->
                                        <p class="file-guide">
                                            <span>권장 크기 : 1000 X 1000(윈도 대상 750 X 1000), 300 X 300 이상</span><br>
                                            <span>이미지 확대 기능 : 대표 이미지 기준 1000 X 1000 이상 이미지 등록 시, 확대 기능이 제공됩니다.</span><br>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-write">
                        <button type="submit">상품 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
