<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/admin/detail.css">
	<link rel="stylesheet" href="/css/admin/commons.css">
	<link rel="stylesheet" href="/css/admin/sidebar.css">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<script src="/js/admin/sidebar.js"></script>
	<script src="/js/admin/mypage.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<div style="display: flex;">
		<th:block th:insert="~{views/seller/sidebar}" />
		<div class="container">
			<h1>출판사 상세 정보</h1>
			<div class="profile-container">
				<div class="profile-header">
					<div class="info-pic">
					</div>
					<div class="profile-details">
						<h2 th:text="${seller.shopName}">출판사 이름</h2>
						<p class="ID">bookbook001</p>
					</div>
				</div>
				<div class="selection-info">
					<h2>출판사 정보</h2>
					<form id="infoForm" class="info-form" action="/seller/mypage" method="post" >
						<input type="hidden" name="_method" value="put">
						<input type="hidden" name="sellerId" th:value="${seller.sellerId}">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

						<div class="info-item">
							<label>출판사 번호</label>
							<p id="telNumText" th:text="${seller.telNum}"></p>
							<input type="text" id="telNumInput" name="telNum" th:value="${seller.telNum}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>사업자 등록번호</label>
							<p id="businessNumText" th:text="${seller.businessNum}"></p>
							<input type="text" id="businessNumInput" name="businessNum" th:value="${seller.businessNum}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>은행</label>
							<p id="bankText" th:text="${seller.bank}"></p>
							<input type="text" id="bankInput" name="bank" th:value="${seller.bank}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>계좌번호</label>
							<p id="accountText" th:text="${seller.account}"></p>
							<input type="text" id="accountInput" name="account" th:value="${seller.account}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>예금주</label>
							<p id="accountHolderText" th:text="${seller.accountHolder}"></p>
							<input type="text" id="accountHolderInput" name="accountHolder"
								th:value="${seller.accountHolder}" style="display:none;">
						</div>

						<h2>담당자 정보</h2>
						<div class="info-item">
							<label>이름</label>
							<p id="userNameText" th:text="${seller.userName}"></p>
							<input type="text" id="userNameInput" name="userName" th:value="${seller.userName}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>주민등록번호</label>
							<p id="userRRNText" th:text="${seller.userRRN}"></p>
							<input type="text" id="userRRNInput" name="userRRN" th:value="${seller.userRRN}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>이메일</label>
							<p id="emailText" th:text="${seller.email}"></p>
							<input type="text" id="emailInput" name="email" th:value="${seller.email}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>휴대전화</label>
							<p id="phoneNumberText" th:text="${seller.phoneNumber}"></p>
							<input type="text" id="phoneNumberInput" name="phoneNumber" th:value="${seller.phoneNumber}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>생년월일</label>
							<p id="birthDateText" th:text="${seller.birthDate}"></p>
							<input type="date" id="birthDateInput" name="birthDate" th:value="${seller.birthDate}"
								style="display:none;">
						</div>
						<div class="info-item">
							<label>주소</label>
							<p id="addressText" th:text="${seller.address}"></p>
							<input type="text" id="addressInput" name="address" th:value="${seller.address}"
								style="display:none;">
							<p id="detailAddressText" th:text="${seller.detailAddress}"></p>
							<input type="text" id="detailAddressInput" name="detailAddress"
								th:value="${seller.detailAddress}" style="display:none;">
							<p id="extraAddressText" th:text="${seller.extraAddress}"></p>
							<input type="text" id="extraAddressInput" name="extraAddress"
								th:value="${seller.extraAddress}" style="display:none;">
						</div>

						<div class="account-delete">
							<button type="button" id="editButton" class="delete-account-button" onclick="editInfo()">정보
								수정</button>
							<button type="submit" id="saveButton" class="delete-account-button2"
								style="display: none;">저장</button>
						</div>
					</form>
				</div>
				<div class="account-link">
				</div>
			</div>
		</div>
	</div>
</body>

</html>