<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추가 정보 입력</title>
    <link rel="stylesheet" href="/css/login/signup.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/login/socialsignup.js"></script>
    <script src="/js/login/address.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main-signup">
        <header>
            <a href="/">
                <div class="logo">
                    <img src="/img/Untitled_removebg_preview.png" class="image" alt="Logo" />
                </div>
            </a>
        </header>

        <section class="signup-wrap">
            <form action="/additional-info" method="post" th:object="${additionalInfo}">
                <input type="hidden" th:name="${_csrf != null ? _csrf.parameterName : '_csrf'}" 
                       th:value="${_csrf != null ? _csrf.token : ''}"/>
                
                <div>
                    <h3>주민등록번호</h3>
                    <div class="signup-input-ssn">
                        <input id="signup-ssn" type="text" th:field="*{userRRN}"
                               placeholder="******-*******" maxlength="14" required
                               pattern="^\d{6}-[1-4]\d{6}$" title="형식: 123456-1234567">
                    </div>

                    <h3>성별</h3>
                    <div class="signup-input">
                        <select id="signup-gender" class="selectbox" th:field="*{gender}" required>
                            <option value="">성별</option>
                            <option value="man">남자</option>
                            <option value="woman">여자</option>
                        </select>
                    </div>

                    <h3>휴대전화</h3>
                    <div class="signup-input-phone">
                        <input id="signup-phone" type="text" th:field="*{phoneNumber}"
                               placeholder=" (010-1234-5678)" maxlength="13"
                               pattern="01[0-9]-[0-9]{4}-[0-9]{4}" title="형식: 010-1234-5678"
                               required class="phone-part">
                    </div>

                    <h3>생년월일</h3>
                    <div class="signup-input-birth">
                        <input id="signup-birth" type="text" th:field="*{birthDate}"
                               placeholder="(YYYY-MM-DD)" maxlength="10"
                               pattern="\d{4}-\d{2}-\d{2}" title="형식: YYYY-MM-DD" required>
                    </div>

                    <div class="address">
                        <h3>주소</h3>
                        <div class="signup-address">
                            <input type="text" id="sample6_postcode" th:field="*{postcode}"
                                   placeholder="우편번호" required>
                            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                        </div>
                        <div class="signup-address">
                            <input type="text" id="sample6_address" th:field="*{address}"
                                   placeholder="주소" required>
                        </div>
                        <div class="signup-address">
                            <input type="text" id="sample6_extraAddress" th:field="*{extraAddress}"
                                   placeholder="참고항목">
                        </div>
                        <div class="signup-address">
                            <input type="text" id="sample6_detailAddress" th:field="*{detailAddress}"
                                   placeholder="상세주소" required>
                        </div>
                    </div>

                    <div class="signup-btn-wrap">
                        <button id="signup-btn" type="submit" onclick="validateForm();">가입</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
</html>